@using System.Security.Claims
@model VotingApp.Models.ResponseModels.CandidatePositionResponseModel
@{
    ViewData["Title"] = "Contestant Details";
}
<div class="col-6">
    <a asp-controller="Election" asp-action="GetContestants" asp-route-positionId="@ViewBag.PositionId" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Back
    </a>
</div>
<h4 style="text-align: center;">@Model.Position?.Election?.Name Session</h4>
<h4 style="text-align: center;">VOTE @Model.Candidate?.Student?.Name.ToUpper() FOR @Model.Position?.Name.ToUpper().</h4>
<div class="container" style="background-color: rgba(130, 129, 133, 0.6); margin-top: 50px; margin-bottom: 50px; padding: 20px; border-radius: 10px;">
    <div class="row">
        <div class="col col-xs-6 col-lg-5">
            <img src="~/Images/@Model.ImageUrl" style="max-width:400px; max-height: 400px;" />
        </div>
        <div class="col col-xs-6 col-lg-7">
            <h5>@Model.Candidate?.Student?.Name.ToUpper() FOR @Model.Position?.Name.ToUpper()</h5>
            <div>
                Manifesto: @Model.Statement
            </div>
            <div>
                <h3>Name: @Model.Candidate?.Student?.Name, Gender: @Model.Candidate?.Student?.Gender</h3>
            </div>
            <div>
                <h3>Course: @Model.Candidate?.Student?.Course?.Name</h3>
            </div>
            <div>
                Matric No: @Model.Candidate?.Student?.MatricNo
            </div>
            <div>
                Contesting for the position of @Model.Position?.Name
            </div>
            <div>
                @Model.Candidate?.Student?.Name has @Model.Votes.Count vote(s).
            </div>
        </div>
        
        @if (User.Identity.IsAuthenticated)
        {
            if (ViewBag.CanVote == null)
            {
                ViewBag.CanVote = false;
            }
            string vote = ViewBag.CanVote ? "" : "disabled";
            string email = User.FindFirstValue(ClaimTypes.Email);
            <div class="container">
                <form asp-action="Vote" asp-controller="Election" method="post">
                    <input type="hidden" name="email" class="form-control" value="@email" />
                    <input type="hidden" name="id" class="form-control" value="@Model.Id" />
                    <input type="submit" class="btn btn-success @vote" style="display: inline-block; margin-top: 10px;" value="Vote" />
                </form>
            </div>
        }
    </div>
