@model PaginatedList<VotingApp.Models.ResponseModels.StudentResponseModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="container text-start">
            <form asp-action="ReadStudents" method="post" enctype="multipart/form-data">
                <label><h6>Upload file to register students</h6></label>
                <input type="file" name="studentFile" class="form-control" accept="text/*" style="width: 30%"/>@* continue *@
                <input type="submit" class="btn btn-secondary" style="display: inline-block; margin-top: 10px;" />
            </form>
        </div>
        <div class="col-6">
            <h2 class="text-primary">Student List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Student" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Student
            </a>
        </div>
        
    </div>
    <br /> <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Email
                </th>
                <th>
                    Matric No
                </th>
                <th>
                    Level
                </th>
                <th>
                    CGPA
                </th>
                <th>
                    Course Name
                </th>
                <th>
                    CanVote
                </th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.Gender.ToString()
                    </td>
                    <td>

                        @obj.Email

                    </td>
                    <td>
                        @obj.MatricNo
                    </td>
                    <td>
                        @Convert.ToInt32(obj.Level)
                    </td>
                    <td>
                        @obj.CGPA
                    </td>
                    <td>
                        @obj.Course.Name
                    </td>
                    <td>
                        @obj.CanVote
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Student" asp-action="Update" asp-route-id="@obj.Id"
                               class="btn btn-primary mx-0"><i class="bi bi-pencil-square"></i> Update</a>
                        </div>
                    </td>
                    <td>
                        <div class="container">
                            <form asp-action="ChangeVoteStatus" asp-controller="Student" method="post">
                                <input type="hidden" name="id" class="form-control" value="@obj.Id" />
                                <input type="submit" class="btn btn-secondary" style="display: inline-block; margin-top: 10px;" value="Change Vote Status" />
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (!Model.Any())
{
    <p>No Rules</p>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center">
    <a asp-action="GetAll" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">
        Previous
    </a>
    <div class="btn" style="cursor: default;">
        Page @Model.PageIndex of @Model.TotalPages
    </div>
    <a asp-action="GetAll" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled">
        Next
    </a>
</div>